body{background-image: url('motelalfg.jpg');
; background-size: 1509px;background-position: center;}
h1{background-color: aqua; font-family: 'Courier New', Courier, monospace;
color: brown;}
p{background-color: blueviolet;font-family: cursive;border-style: double;border-radius: 99pc;border-width: 39px;}